@tailwind base;
@tailwind components;
@tailwind utilities;

.alert-enter {
    position: fixed;
    top: 0px;
    right: 0vw;
    opacity: 0;
    transition: all 500ms;

  }
  .alert-enter-active {
    position: fixed;
    top: 0px;
    opacity: 1;
    
    transition: all 500ms;
  }
  .alert-exit {
    position: fixed;
    top: 0px;
    right: 0vw;
    opacity: 1;
  }
  .alert-exit-active {
    position: fixed;
    top: 0px;
    right: -20vw;
    opacity: 0;
    transition: all 500ms;
  }
  
  .swiper-pagination-bullet-active{
    background-color: black  !important;
  }

  .swiper-pagination{
    margin-top: 40px;
  }