@tailwind base;
@tailwind components;
@tailwind utilities;

.alert-enter {
    position: fixed;
    top: 0px;
    right: 0vw;
    opacity: 0;
    transition: all 500ms;

  }
  .alert-enter-active {
    position: fixed;
    top: 0px;
    opacity: 1;
    
    transition: all 500ms;
  }
  .alert-exit {
    position: fixed;
    top: 0px;
    right: 0vw;
    opacity: 1;
  }
  .alert-exit-active {
    position: fixed;
    top: 0px;
    right: -20vw;
    opacity: 0;
    transition: all 500ms;
  }
  
  .swiper-pagination-bullet-active{
    background-color: black  !important;
  }

  .swiper-pagination{
    margin-top: 40px;
  }

  /* loader css styles */
  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid tomato;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    animation: pulse 1s linear infinite;
  }
  .loader:after {
    content: '';
    position: absolute;
    width: 48px;
    height: 48px;
    border: 5px solid #333;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: scaleUp 1s linear infinite;
  }
  
  @keyframes scaleUp {
    0% { transform: translate(-50%, -50%) scale(0) }
    60% , 100% { transform: translate(-50%, -50%)  scale(1)}
  }
  @keyframes pulse {
    0% , 60% , 100%{ transform:  scale(1) }
    80% { transform:  scale(1.2)}
  }

  /* blog post styling */
  .blog{
    @apply font-poppins text-[18px] text-[#888]
  }

  .blog p{
    @apply mb-3
  }